<!-- dashboard.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/script1.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <main class="main">
        <div class="main-title">
            <p class="font-weight-bold">Bienvenido al Dashboard</p>
        </div>

        <div class="main-cards">

            <div class="card" data-url="{% url 'consultar_proveedores' %}">
                <div class="card-inner">
                    <p class="text-primary">Proveedores</p>
                    <span class="fa fa-archive text-blue"></span>
                </div>
                <span class="text-primary font-weight-bold">{{ num_providers }}</span>
            </div>

            <div class="card" data-url="{% url 'consultar_facturas' %}">
                <div class="card-inner">
                    <p class="text-primary">Lista de Facturas</p>
                    <span class="fas fa-table text-orange"></span>
                </div>
                <span class="text-primary font-weight-bold">{{ num_invoices }}</span>
            </div>

            <div class="card" data-url="{% url 'invoice_insert' %}">
                <div class="card-inner">
                    <p class="text-primary">Detalle de Facturas</p>
                    <span class="fa fa-info-circle text-green"></span>
                </div>
                <span class="text-primary font-weight-bold">{{ num_invoice_details }}</span>
            </div>

          <!--   <div class="card">
                <div class="card-inner">
                    <p class="text-primary">Auditoria</p>
                    <span class="material-icons-outlined text-red">notification_important</span>
                </div>
                <span class="text-primary font-weight-bold">56</span>
            </div> -->

        </div>

        <!--    <div class="charts">
            <div class="charts-card">
                <p class="chart-title">Top 5 Products</p>
                <div id="bar-chart"></div>
            </div>

            <div class="charts-card">
                <p class="chart-title">Purchase and Sales Orders</p>
                <div id="area-chart"></div>
            </div>
        </div> -->

    </main>
    <!-- End Main -->
    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'javascript/java.js' %}"></script>
    <script>
        console.log("num_providers:", { num_providers });
        console.log("num_invoices:", { num_invoices });
        console.log("num_invoice_details:", { num_invoice_details });
    </script>
    <script>
        // Agrega un evento de clic a cada tarjeta
        document.querySelectorAll('.card').forEach(function (card) {
            card.addEventListener('click', function () {
                // Obtiene la URL desde el atributo data-url
                var url = card.getAttribute('data-url');
                // Redirige a la URL
                window.location.href = url;
            });
        });
    </script>
    {% endblock %}
</body>

</html>