<!DOCTYPE html>
<html>
<head>
    <title>Buscar Pasajero</title>
</head>
<body>
    <h1>Buscar Pasajero del Titanic</h1>
    <form method="GET" action="{% url 'search_passenger' %}">
        <label for="passengerid">ID del Pasajero:</label>
        <input type="text" id="passengerid" name="passengerid">
        <button type="submit">Buscar</button>
    </form>

    {% if passenger %}
        <h2>Detalles del Pasajero:</h2>
        <p>ID: {{ passenger.passengerid }}</p>
        <p>Nombre: {{ passenger.name }}</p>
        <p>Edad: {{ passenger.age }}</p>
        <p>Cabina: {{ passenger.cabin }}</p>
        <p>Puerto de Embarque: {{ passenger.embarked }}</p>
        <p>Tarifa: {{ passenger.fare }}</p>
        <p>Número de padres/hijos a bordo: {{ passenger.parch }}</p>
        <p>Clase: {{ passenger.pclass }}</p>
        <p>Sexo: {{ passenger.sex }}</p>
        <p>Número de hermanos/esposos a bordo: {{ passenger.sibsp }}</p>
        <p>Superviviente: {{ passenger.survived }}</p>
        <p>Ticket: {{ passenger.ticket }}</p>
        <p>Título: {{ passenger.title }}</p>
        <p>Tamaño de la familia: {{ passenger.family_size }}</p>
    {% else %}
        {% if 'passengerid' in request.GET %}
            <p>No se encontró un pasajero con ese ID.</p>
        {% endif %}
    {% endif %}
</body>
</html>
