{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/editp.css' %}">
    <h2>Insertar Proveedor</h2>
    <form class="form-container" method="post" action="{% url 'insertar_proveedor' %}">
        {% csrf_token %}
        
        <label for="prov_name">Nombre:</label>
        {{ form.prov_name }}
        {{ form.prov_name.errors }}

        <label for="prov_dni">Cédula/RUC:</label>
        {{ form.prov_dni }}
        {{ form.prov_dni.errors }}
        
        <label for="prov_city">Ciudad:</label>
        {{ form.prov_city }}
        {{ form.prov_city.errors }}
        
        <label for="prov_type">Tipo de Proveedor:</label>
        <select name="prov_type">
            <option value="1" {% if form.prov_type.value == 1 %}selected{% endif %}>Crédito</option>
            <option value="2" {% if form.prov_type.value == 2 %}selected{% endif %}>Contado</option>
        </select>
        {{ form.prov_type.errors }}
        
        <label for="prov_address">Dirección:</label>
        {{ form.prov_address }}
        {{ form.prov_address.errors }}
        
        <label for="prov_phone">Teléfono:</label>
        {{ form.prov_phone }}
        {{ form.prov_phone.errors }}
        
        <label for="prov_email">Email:</label>
        {{ form.prov_email }}
        {{ form.prov_email.errors }}
        
        <label id="estado-label">Estado:</label>
        <input type="hidden" name="prov_status" value="0">
        <div class="form-check">
          <input type="checkbox" name="prov_status" id="prov_status_checkbox" {% if form.prov_status.value == 1 %}checked{% endif %}>
          <label for="prov_status_checkbox">Activo</label>
        </div>
        
        <button type="submit">Guardar cambios</button>
    </form>

{% endblock %}
