{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Listar Detalle Factura</h2>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/detf.css' %}">
  <!-- Mostrar información del cliente, fecha y tipo de pago -->
  <p>
    Cliente: {{ info_factura.cliente_nombre }} | Fecha: {{ info_factura.fecha }} | Tipo de Pago: {{ info_factura.tipo_pago }}
    <!-- Mostrar la Fecha de Expiración solo si el pay_type es "Credito" -->
    {% if info_factura.tipo_pago == 'Credito' %}
      | Fecha de Expiración: {{ info_factura.fecha_expiracion|default:'Desconocida' }}
    {% endif %}
  </p>

  <table class="table">
    <thead>
      <tr>
        <th># <i class="fas" onclick="ordenarPor('#')"></i></th>
        <th>Producto  <i class="fas" onclick="ordenarPor('producto')"></i></th>
        <th>Cantidad  <i class="fas " onclick="ordenarPor('cantidad')"></i></th>
        <th>Precio Unidad  <i class="fas" onclick="ordenarPor('unidad')"></i></th>
        <th>Precio Total   <i class="fas" onclick="ordenarPor('precio')"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for detalle in detalles %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <td>{{ detalle.producto_nombre|default:'Desconocido' }}</td>
          <td>{{ detalle.quantity_invo_det }}</td>
          <td>{{ detalle.precio_unidad|default:'Desconocido' }}</td>
          <td>{{ detalle.precio_total }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

   <!-- Paginación -->
   <div class="pagination">
    <span class="step-links">
        {% if detalles_paginados.has_previous %}
        <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
        <a href="?page={{ detalles_paginados.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
        {% endif %}
  
        <span class="current">
            Página {{ detalles_paginados.number }} de {{ detalles_paginados.paginator.num_pages }}.
        </span>
  
        {% if detalles_paginados.has_next %}
        <a href="?page={{ detalles_paginados.next_page_number }}"><i class="fas fa-angle-right"></i></a>
        <a href="?page={{ detalles_paginados.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </span>
  </div>
{% endblock %}

US#13 -
