/* Estilo para la lista de productos */
.product-list {
  max-height: 28vh;
  overflow-y: auto;
  float: left;
  width: 45%;
  margin-bottom: 15px;
}

.product-card {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-image {
  flex-basis: 30%;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  flex-basis: 70%;
  padding-left: 15px;
}

.product-details h4 {
  margin-top: 0;
  font-weight: bold;
  color: #000;
}

.product-details p {
  margin-bottom: 5px;
}

.quantity-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-input label {
  margin-right: 10px;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el contenedor del formulario */
form {
  width: 45%;
  clear: left;
  border: 1px solid #cccccc00;
  background-color: rgba(249, 249, 249, 0); /* Color de fondo transparente */
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* Estilo para el título del formulario */
h2 {
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: #000;
}

/* Estilo para la tabla en la derecha */
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

thead {
  background-color: #4CAF50;
  color: white;
}

/* Estilos adicionales para el formulario en el lado derecho */
.right-side {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5f5;
}

.right-side > form {
  align-self: flex-end; /* Alinea el formulario a la derecha */
  width: 100%; /* Ajusta el ancho del formulario */
}

/* Estilos para los campos del formulario y el botón */
.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004080;
}

/* Estilos de Bootstrap */
h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #000000;
  background-color: #fff;
  padding: 10px 10px;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #000000;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  font-weight: bold;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.25;
  border-radius: 0.2rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-primary:hover, .btn-danger:hover, .btn-success:hover {
  color: #ffffff;
  background-color: #ff6e2f;
  border-color: #000000;
}

.btn-primary {
  color: #000000;
  border-color: #000000;
}

.btn-danger {
  color: #fff;
  border-color: #000000;
}

.btn-success {
  margin-left: 20px;
  color: #000000;
  border-color: #000000;
}

.btn-action {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
}

/* Paginación */
.pagination {
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.step-links {
  display: flex;
  gap: 10px;
}

.step-links a {
  background-color: #ffffff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.step-links a:hover {
  background-color: #ff6e2f;
}

.step-links .current {
  background-color: #d1d0d000;
  color: #000000;
  font-weight: bold;
  padding: 5px;
}

/* Nuevos estilos para los formularios */
form {
  display: flex;
  width: fit-content;
}

#search-form {
  margin-top: -37px;
}

.material-icons-outlined {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: background-color 0.3s;
}

.material-icons-outlined:hover {
  background-color: #ff6e2f;
  color: white;
}
