/* Estilo para el contenedor del formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para las etiquetas */
  label {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  /* Estilo para los campos de entrada y selecci贸n */
  input,
  select {
    /* width: 100%;  */
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  /* Estilo para el checkbox y su etiqueta */
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-check-input {
    margin-right: 1rem;
  }
  
  /* Estilo para el bot贸n */
  button {
    background-color: #4caf50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Cambio de estilo al pasar el rat贸n sobre el bot贸n */
  button:hover {
    background-color: #45a049;
  }
  